# ── dbt ──────────────────────────────────────────────────────────────
target/
dbt_packages/
logs/
# profiles.yml

# ── GCP credentials ──────────────────────────────────────────────────
*_gcp_key.json

# ── Airflow ──────────────────────────────────────────────────────────
airflow/logs/
airflow/.astro/
airflow/airflow.db
airflow/airflow-webserver.pid

# ── Environment & secrets ─────────────────────────────────────────────
# .env

# ── Python ───────────────────────────────────────────────────────────
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# ── OS ───────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db
d
# ── IDE ──────────────────────────────────────────────────────────────
.vscode/
.idea/
*.code-workspace
dbt_internal_packages/
