# apache-airflow-providers-google==22.0.0

# dbt-bigquery==1.11.1
# dbt-metricflow==0.211.0

# networkx==3.6.1
# pandas==2.3.3
# pyarrow==24.0.0

# google-cloud-bigquery==3.41.0

# python-dotenv==1.2.2
apache-airflow-providers-google

dbt-bigquery
dbt-metricflow

networkx
pandas
pyarrow

google-cloud-bigquery

python-dotenv
